# Embedding model config
EMBEDDING_MODEL=
EMBEDDING_MODEL_API_BASE=
EMBEDDING_MODEL_API_KEY=

# LLM agent-1 config
LLM_1_MODEL=
LLM_1_API_BASE=
LLM_1_API_KEY=

# LLM agent-2 config (PLACE HOLDER)
LLM_2_MODEL=
LLM_2_API_BASE=
LLM_2_API_KEY=

# LLM agent-3 config (PLACE HOLDER)
LLM_3_MODEL=
LLM_3_API_BASE=
LLM_3_API_KEY=
